#header h1 {
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    animation-name: example;
    background-image: linear-gradient(92deg, #f35626, #feab3a);
    animation: example 10s infinite linear;
}

@keyframes example {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(-360deg);
    }
}

#header h1 {
    text-align: center;
    font-weight: 100;
    font: 400%/2.5 "Roboto", Verdana, sans-serif;
}

#header strong {
    font: 140%/0 "Roboto", Verdana, sans-serif;
    display: block;
}

#login {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: auto;
}

#login input:nth-child(1) {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#login input:nth-child(2) {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#login input[type="text"]:focus {
    box-shadow: inset 0px 0px 5px red;
}

#login input[type="text"] {
    display: block;
    color: #ddd;
    border: 1px solid #ddd;
    padding: 24px 0;
    font-size: 1.5em;
    width: 90%;
    margin: -1px auto;
}

#login input[type="checkbox"] {
    width: 24px;
    height: 43px;
    position: relative;
}

#login label {
    position: relative;
    top: -14px;
    left: 9px;
    font-size: 2em;
    color: #757575;
}

#login_btn {
    padding: 20px 0;
    font-size: 2em;
    background-color: #bf360c;
    color: white;
    display: block;
    width: 90%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 25px auto;
}
